@font-face {
    font-family: 'Pinyon Script';
    src: url('PinyonScript-Regular.woff2') format('woff2'),
        url('PinyonScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pinyon Script';
    src: url('PinyonScript.woff2') format('woff2'),
        url('PinyonScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

